<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721163609851-dsro3vr8ja7fktjr5gs47kokt96kh1c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721163609851-dsro3vr8ja7fktjr5gs47kokt96kh1c1</string>
	<key>API_KEY</key>
	<string>AIzaSyCREqscl5TUCZzOoQRRZAxqWZlZDgV-U3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>721163609851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pocketAi</string>
	<key>PROJECT_ID</key>
	<string>pocket-ai-dc7da</string>
	<key>STORAGE_BUCKET</key>
	<string>pocket-ai-dc7da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721163609851:ios:40ed28afb5d75d1370f25e</string>
</dict>
</plist>